/* CSS Document */
/* MyFollowers Widget */
.atp-link-wrapper{
	margin: 1em .5em 0;
}

.atp-link-wrapper .link-box{
	padding: .5em .5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #535353;
	text-align: center;
}


.atp-link-wrapper .link-box a.btn {
	padding: 0 .5em;
	text-align: center;
}

.atp-link-wrapper .link-box a.btn:hover {
}

.atp-link-wrapper .link-box a.btn img{
	width: 100%;
	max-width: 196px;
}
/* big button links */
.atp-link-wrapper ul.bbutn li.link-box {
	text-align: center !important;
	list-style: none;
}

.atp-link-wrapper ul.bbutn li.link-box a{
	padding: 0;
}

/* classic button links */
.atp-link-wrapper ul.cbutn li.link-box {
	text-align: center !important;
	list-style: none;
	display: inline-block;
	width: 120px;
	margin: .5em .2em 0 0;
}

.atp-link-wrapper ul.cbutn li.link-box a{
	padding: 0;
}

.atp-link-wrapper ul.cbutn li.link-box a img.classic{
	max-width: 120px;
}

/* small / square button links */

.atp-link-wrapper ul.sbutn li.link-box {
	text-align: center !important;
	list-style: none;
	display: inline-block;
	width: 64px;
	margin: .5em .2em 0 0;
}

.atp-link-wrapper ul.sbutn li.link-box a{
	padding: 0;
}

.atp-link-wrapper ul.sbutn li.link-box a img.classic{
	max-width: 64px;
}

/* text links */
.atp-link-wrapper ul.text li.link-box {
	text-align: left !important;
	font-size: 1em !important;
	padding: 0;
}

.atp-link-wrapper ul.text li.link-box a{
	padding: 0;
}

/* Powerpress subscribe buttons */
.atp-link-wrapper.powerpress {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #EAEAEA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.atp-link-wrapper.powerpress h3 {
	margin: 0em 0 .25em;
	padding: 0em;
}

.atp-link-wrapper.powerpress ul {
	margin: 0;
	padding: 0em;
}

.atp-link-wrapper.powerpress ul li.link-box {
    margin: 0.25em 0.2em 0 0;
	padding: .15em;
	width: 48px;
}

.atp-link-wrapper.powerpress ul li.link-box a.btn img {
    width: 100%;
}
