/* CSS Document */
p {margin: 2px 0!important;}

.box {
	margin: .25em;
	padding: .5em;
	border: 1px solid #CBCBCB;
	background-color: #FAFAFA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

label { font-weight: 600; }
.label { font-weight: bold; font-size: 1.3em; color: #003366;}

.note{ font-size: .9em; font-style:italic; margin: -1px 0 5px; color: #660000;}

.disabled .box {
	border: 1px solid #CBCBCB;
	background-color: #DADADA;
}

.disabled label {
	color: #CECECE;
}

.cap_wrap .instructions li {
    font-size: 14px;
    line-height: 18px;
    margin: 1px 0 10px;
	list-style: outside disc;
}

.cap_wrap .instructions ul ul {
    margin-left: 15px;
}

.cap_wrap .instructions ul ul li {
    font-size: 13px;
    line-height: 16px;
    margin: 1px 0 8px;
	list-style: outside circle;
}

.cap_wrap .instructions .atp-service-list {
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 5px 10px;
}

.cap_wrap .instructions .button-choices {
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 5px 10px;
}
